$color-list: (
  'info': #909399, 
  'primary': #409eff,
  'success': #67C23A,
  'warning': #E6A23C,
  'danger': #F56C6C,
  'white': #ffffff
);

@each $type, $color in $color-list {
  .text-#{$type} {
    color: $color !important;
  }
  .bg-#{$type} {
    background-color: $color !important;
  }
  .border-#{$type} {
    border: 1px solid $color !important;
  }

  .card-#{$type} {
    box-shadow: 2px 2px 8px 1px lighten($color, 20%);
  }
  .hover-card-#{$type} {
    transition-duration: 0.3s;
    &:hover{
      box-shadow: 2px 2px 8px 1px lighten($color, 20%);
    }
  }
}

// 目前還未使用
@mixin systemColor ($type, $color) {
  .system-color-#{$type} {
    background-color: $color;
  }
}

@include systemColor ('base', #454545);
@include systemColor ('blue', #324157);
@include systemColor ('green', #3b723e);
