
.__data-table {
  &-wrapper {
    margin-top: 32px;
    // overflow: hidden;
    // border: 1px solid #ebeef5;
    border: 2px solid green;
    border-radius: 6px;
  }

  &-container {
    width: 90%;
    height: 90%;
    background-color: skyblue;
  }

  &-header {
    display: flex;
    position: sticky;
    // background-color: #2a2a2a;
    color: green;
    
  }

  &-body {
    background-color: #404040;
  }

  &-row {
    display: flex;
  }

  &-column {
    flex: 1;
    border: 1px solid #818184;
    padding: 8px;
  }
}
