%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.content {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-evenly {
    justify-content: space-evenly;
  }
  &-around {
    justify-content: space-around;
  }
}

.align {
  &-center {
    align-items: center;
  }
  &-start {
    align-items: flex-start;
  }
  &-end {
    align-items: flex-end;
  }
}