.modal-enter-active {
  transition: opacity 0.25s ease;
  animation: modal-in 0.25s;
}
.modal-leave-active {
  transition: opacity 0.2s ease;
  animation: modal-in 0.2s reverse;
}
@keyframes modal-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fixed-enter-active,
.fixed-leave-active {
  transition: opacity 0.3s ease;
}

.fixed-enter-from,
.fixed-leave-to {
  opacity: 0;
}