// 依照 bootstrap 標準
$extra-small: 576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;

// 系統基本顏色
$info: #909399;
$primary: #409eff;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$white: #ffffff;

// 系統選單顏色
// $system-bg-color: #454545;
$system-bg-color: #324157;
// $system-bg-color: #3b723e;

// 選單寬度
$nav-xs-width: 54px;
$nav-md-width: 250px;
$nav-lg-width: 300px;

/* z-index */
$loading-index: 999;
$login-index: 10;
$popover-index: 1;
// $side-index: 9999;

// 置中
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

