/* 讀取畫面 */
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  background-color: #efefef a8;
}

.loader-container {
  width: 200px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* 讀取畫面 顯示三顆球 */
.loader-circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #363636;
  left: 15%;
  transform-origin: 50%;
  animation: circle 0.5s alternate infinite ease;
  visibility: hidden;
}
.loader-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes circle {
  0% {
    visibility: visible;
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

/* 讀取畫面 顯示三顆球 的陰影 */
.loader-shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: #000000d0;
  position: absolute;
  top: 63px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow 0.5s alternate infinite ease;
}
.loader-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.loader-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

/* 版本 */
.app-table {
  width: 100%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  transition-duration: 3s;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.app-table table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 1.3em;
  border-top: 1px solid #73767a;
  border-left: 1px solid #73767a;
  border-right: 1px solid #73767a;
}

.app-table thead {
  background-color: #c8c9cc;
}

.app-table tbody tr {
  transition-duration: 0.2s;
}

.app-table tbody tr:nth-child(odd) {
  background-color: #e9e9eb;
}

.app-table tbody tr:nth-child(even) {
  background-color: #f4f4f5;
}

.app-table tbody tr:hover {
  background-color: #dedfe0;
}

.app-table thead th,
.app-table tbody td {
  border-bottom: 1px solid #73767a;
  padding: 24px 64px;
  text-align: left;
  white-space: nowrap;
}

.app-table .td-center {
  display: flex;
  align-items: center;
  gap: 8px;
}

.app-table img {
  height: 48px;
}

.app-table .app-navigator {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 8px 12px;
}

/**
 * 專案用設定預設樣式 reset
 */

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(
  h1, h2, h3, h4, h5, h6,
  main, form, nav, a,
  ul, li, label, div, span
) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
}

:where(input[type=number]) {
  /* 隱藏 Firefox 的箭頭 */
  appearance: none;
  /* 將樣式設置為文本框 */
  -moz-appearance: textfield;
}

:where(input[type=number])::-webkit-outer-spin-button,
:where(input[type=number])::-webkit-inner-spin-button {
  /* 隱藏 Chrome、Safari、Edge 和 Opera 的箭頭 */
  appearance: none;
  /* 隱藏增減按鈕 */
  -webkit-appearance: none;
  /* 消除邊距 */
  margin: 0;
}

:where(label),
:where(label) > span {
  font-weight: 600;
  font-size: 1rem;
}

:where(ul, li) {
  list-style: none;
}

/* ScorllBar */

::-webkit-scrollbar {
  width: 8px; /* 直向滾動 */
  height: 8px; /* 橫向滾動 */
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dedede;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #dadada80;
  transition-duration: 0.3s;
  border-radius: 10px;
}

/* swal */
div:where(.swal2-icon) {
  box-sizing: content-box !important;
  margin: 2.5em auto .6em !important;
}

/**
 * 參考 normalize
 * normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
 */

body {
  background: linear-gradient(#909399, 20%, #f4f4f5);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Default Font Size
 */
html {
  /* 1 */
  line-height: 1;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
  font-size: 16px;
}

/**
 * Render the `main` element consistently in IE.
 * `details` Add the correct display in Edge, IE 10+, and Firefox.
 */
main,
details {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  /* 1 */
  box-sizing: content-box;
  height: 0;
  /* 2 */
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  /* 1 */
  font-family: monospace, monospace;
  /* 2 */
  font-size: 1em;
}

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. 移除底線
 */
a {
  /* 1 */
  background-color: transparent;
  /* 2 */
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  /* 1 */
  border-bottom: none;
  /* 2 */
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  /* 1 */
  font-family: monospace, monospace;
  /* 2 */
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  /* 1 */
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  /* 2 */
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {  
  appearance: button;
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  /* 1 */
  max-width: 100%;
  box-sizing: border-box;
  display: table;
  white-space: normal;
  /* 2 */
  color: inherit;
  /* 3 */
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type='checkbox'],
[type='radio'] {
  /* 1 */
  box-sizing: border-box;
  /* 2 */
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  /* 1 */
  appearance: textfield;
  -webkit-appearance: textfield;
  /* 2 */
  outline-offset: -2px;
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  font: inherit;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/**
 * Add the correct display in IE 10+.
 */
template,
[hidden] {
  display: none;
}