.__input {
  &-container {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 8px;
    position: relative;
    // overflow: hidden;
  }
  &-row {
    flex-direction: row;
    align-items: flex-start;

    .__input-label {
      transform: translateY(8px);
    }
  }
  &-column {
    flex-direction: column;

    .__input-label {
      transform: translateY(2px);
    }
  }

  &-prefix {
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 0;
  }
  &-required {
    color: var(--i-color-danger);
  }

  &-label {
    // width: fit-content;
    // white-space: wrap;
    white-space: nowrap;
  }

  &-main {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  &-error {
    color: var(--i-color-danger);
    width: 100%;
    height: 20px;
  }
}
