.__data-table-wrapper {
  border-radius: 6px;
  border: 1px solid #ebeef5;
  width: 100%;
  /* height: 100%; */
  overflow-x: auto;
}

.__data-table-container {
  width: fit-content;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.__data-table-header {
  height: fit-content;
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #ebeef5;
  z-index: 1;
  overflow-y: scroll;
}

.__data-table-body-container {
  flex: 1;
  width: 100%;
  height: 100%;
  min-width: fit-content;
  min-height: fit-content;
  position: relative;
  overflow-y: scroll;
}

.__data-table-header::-webkit-scrollbar-track,
.__data-table-body-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff00;
  border-radius: 6px;
}

.__data-table-body {
  background-color: #fff;
  width: 100%;
  height: fit-content
}

.__data-emtpy {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__data-table-row {
  display: flex;
  background-color: #fff;
  transition-duration: 0.2s;
}

.__data-table-row:nth-child(even) {
  background-color: #fafafa;
}

.__data-table-row:hover,
.__data-table-row:nth-child(even):hover {
  background-color: #f5f7fa;
}

.__data-table-column {
  flex: 1;
  border-left: 1px solid #ebeef5;
  padding: 8px;
  background-color: inherit;
}

.__data-table-column:nth-child(1) {
  border-left: none;
}