.__i-simple-filter__ {
  width: fit-content;
  height: fit-content;
}

.filter {
  &-container {
    width: 100%;
    padding: 8px 24px;
  }

  &-header,
  &-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &-footer {
    gap: 8px;
    padding: 8px;
  }

  &-body {
    width: 100%;
  }
}
