@import './styles/normalize.css';

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
form,
a,
div,
nav,
main,
label,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 將監聽事件 標示為被動 會報錯 */
div,
label,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
span,
nav {
  /* touch-action: none; */
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

label,
label > span {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #dedede;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #dadada80;
  transition-duration: 0.3s;
  border-radius: 10px;
}

div:where(.swal2-icon) {
  box-sizing: content-box !important;
  margin: 2.5em auto .6em !important;
}
