@use 'sass:map';
@use 'sass:color';
@use './utils' as utils;

// 系統顏色
$light-color: (
  'system': #506d9c,
  'system-bg': #eceff5,
  'system-page': #ffffff,
  'system-border': #7c95bc,

  'menu': #506d9c,
  'menu-sub': #5b79ab,
  'menu-hover': #6582b0,
  'menu-color': #ffffff,

  'row-odd': #fcfcfc,
  'row-odd-hover': #f2f4f8,
  'row-even': #f7f7f7,
  'row-even-hover': #f2f4f8,
  'row-boder': #ebeef5
);

$dark-color: (
  'system': #476596,
  'system-bg': #262727,
  'system-page': #0A0A0A,
  'system-border': #7c95bc,

  'menu': #45608c,
  'menu-sub': #516b98,
  'menu-hover': #5d78a3,
  'menu-color': #f0f0f0,

  'row-odd': #535353,
  'row-odd-hover': #606060,
  'row-even': #595959,
  'row-even-hover': #606060,
  'row-boder': #959595
);

@mixin set-css-vars($color-map) {
  // var(--i-color-system-bg)
  @each $type, $color in $color-map {
    @include utils.set-css-var-value(('color', $type), $color);
  }
}

// 顏色設定
html {
  @include set-css-vars($light-color);
}
html.dark {
  @include set-css-vars($dark-color);
}

.swal2-popup {
  background-color: var(--i-color-system-page);
  color: var(--el-menu-text-color);
}

// 系統基本顏色
$color-map: (
  'info': #909399, // var(--i-color-info);
  'primary': #409eff, // var(--i-color-primary);
  'success': #67c23a, // var(--i-color-success);
  'warning': #e6a23c, // var(--i-color-warning);  
  'danger': #f56c6c, // var(--i-color-danger);
  'empty': #ffffff00, // var(--i-color-empty);

  'black': #000000, // var(--i-color-black);
  'white': #ffffff, // var(--i-color-white);
  'gray': #bcbcbc, // var(--i-color-gray);
  'yellow': #ffee55, // var(--i-color-yellow);
  'orange': #eeb155, // var(--i-color-orange);
  'green': #a0ff8a, // var(--i-color-green);
  'purple': #b458ee // var(--i-color-purple);
);

html {
  @each $type, $color in $color-map {
    @include utils.set-css-var-value(('color', $type), $color);
  }
}

/**
  使用範例
  <div class="text-primary">primary</div>
  <div class="hover-text-primary">hover-primary</div>

  <div class="bg-primary">primary</div>
  <div class="hover-bg-primary">hover-primary</div>

  <div class="border-primary">primary</div>
  <div class="hover-border-primary">hover-primary</div>

  <div class="card-primary">primary</div>
  <div class="hover-card-primary">hover-primary</div>
 */
 @each $type, $color in $color-map {
  .text-#{$type} {
    color: $color !important;
  }
  .hover-text-#{$type} {
    transition-duration: 0.2s;
    &:hover {
      color: color.adjust($color, $lightness: 20%) !important;
    }
  }

  .bg-#{$type} {
    background-color: color.adjust($color, $lightness: 15%) !important;
  }
  .hover-bg-#{$type} {
    transition-duration: 0.2s;
    &:hover {
      background-color: color.adjust($color, $lightness: 15%) !important;
    }
  }

  div[class*='border-'],
  div[class*='card-'] {
    border-radius: 6px;
  }

  .border-#{$type} {
    border: 1px solid color.adjust($color, $lightness: 5%) !important;
  }
  .hover-border-#{$type} {
    transition-duration: 0.2s;
    &:hover {
      border: 1px solid color.adjust($color, $lightness: 10%) !important;
    }
  }

  .card-#{$type} {
    box-shadow: 2px 2px 8px 1px color.adjust($color, $lightness: 20%);
  }
  .hover-card-#{$type} {
    transition-duration: 0.2s;
    &:hover {
      box-shadow: 2px 2px 8px 1px color.adjust($color, $lightness: 25%);
    }
  }
}
