@use 'sass:math';

// 微調整使用
$tool-map: (
  xxs: 4px,
  xs: 8px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 40px
);

/**
 * 使用範例
 * <div class="flex-row i-ga-lg">
 *   <div class="i-pa-xxs"></div>
 *   <div class="i-ma-md"></div>
 * </div>
 */
@each $size, $value in $tool-map {
  .i-pa-#{$size} {
    padding: $value !important;
  }
  .i-px-#{$size} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
  .i-py-#{$size} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  .i-pt-#{$size} {
    padding-top: $value !important;
  }
  .i-pb-#{$size} {
    padding-bottom: $value !important;
  }
  .i-pl-#{$size} {
    padding-left: $value !important;
  }
  .i-pr-#{$size} {
    padding-right: $value !important;
  }

  .i-ma-#{$size} {
    margin: $value !important;
  }
  .i-mx-#{$size} {
    margin-left: $value !important;
    margin-right: $value !important;
  }
  .i-my-#{$size} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  .i-mt-#{$size} {
    margin-top: $value !important;
  }
  .i-mb-#{$size} {
    margin-bottom: $value !important;
  }
  .i-ml-#{$size} {
    margin-left: $value !important;
  }
  .i-mr-#{$size} {
    margin-right: $value !important;
  }

  .i-ga-#{$size} {
    gap: $value !important;
  }
}

.fill {
  width: 100%;
  height: 100%;
  &-x {
    width: 100%;
  }
  &-y {
    height: 100%;
  }
}

$cursors: pointer, move, not-allowed, resize, s-resize, col-resize, no-drop, default;
@each $cursor in $cursors {
  .cursor-#{$cursor} {
    cursor: #{$cursor};
  }
}

.cursor-events-none {
  pointer-events: none !important;
}

.user-select-none {
  user-select: 'none';
  -webkit-user-select: 'none';
  -moz-user-select: 'none';
  -ms-user-select: 'none';
}

@for $i from 0 through 10 {
  .opacity-#{$i} {
    opacity: #{math.div($i, 10)};
  }

  .rem-0-#{$i} {
    font-size: #{math.div($i, 10)}rem;
  }
  .rem-1-#{$i} {
    font-size: #{1 + math.div($i, 10)}rem;
  }
  .rem-#{$i} {
    font-size: #{$i}rem;
  }

  .em-0-#{$i} {
    font-size: #{math.div($i, 10)}em;
  }
  .em-1-#{$i} {
    font-size: #{1 + math.div($i, 10)}em;
  }
  .em-#{$i} {
    font-size: #{$i}em;
  }
}
/**
 * 文字
 */
.text {
  &-hidden {
    color: #ffffff00 !important;
  }
  &-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/**
 * 隱藏
 */
.i-hidden {
  display: none !important;
}
/**
 * 頁面 預設內距為16px
 */
.i-page {
  width: 100%;
  height: 100%;
  padding: 16px;
}
/**
 * 彈窗內滿版 預設內距為16px
 */
.i-modal {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  padding: 16px;
}

/**
 * 替代 i18nTranslate('operationCommands')
 */
.i-selection-operations {
  width: 100%;
  display: flex;
  gap: 8px;

  &-header {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    font-size: 0.8em;
    color: #909399;
  }

  &-column {
    width: 100%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    cursor: pointer;
  }
}

// ajax idb 錯誤提示
.ajax-message,
.idb-message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: fit-content;
  white-space: nowrap;
}
