/**
  網格系統
  目前主流為切24格
  使用範例
  <div class="grid-row">
    <div class="grid-col-xs-24 grid-col-md-8"></div>
    <div class="grid-col-xs-24 grid-col-md-8"></div>
    <div class="grid-col-xs-24 grid-col-md-8"></div>
    <div class="grid-col-xs-24 grid-col-md-12"></div>
    <div class="grid-col-xs-24 grid-col-md-12"></div>
  </div>
*/

$grid-system-map: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

.grid-row {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 12px 8px;

  @media (min-width: 992px) {
    grid-gap: 16px;
  }

  & > * {
    grid-column-start: span 24;
  }
}

@each $size, $value in $grid-system-map {
  @media (min-width: $value) {
    @for $i from 1 through 24 {
      .grid-row > .grid-col-#{$size}-#{$i},
      .grid-col-#{$size}-#{$i} {
        grid-column-start: span $i;
      }
    }
  }
}
