@media print{
  div,
  table,
  th,
  tr,
  td,
  ul,
  li,
  a,
  span,
  button {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  .noBreak {
    break-inside: avoid;
  }
  .noPrint {
    display: none;
  }
}

@page {
  size: A4 portrait;
  margin-top: 3cm;
}

@page :first {
  // margin-left: 4cm;
}
