body {
  height: 100vh;
  overflow: hidden;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(
  h1, h2, h3, h4, h5, h6,
  main, form, nav, a,
  ul, li, label, div, span
) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑',
    Arial, sans-serif;
}

:where(input[type=number]) {
  /* 隱藏 Firefox 的箭頭 */
  appearance: none;
  -moz-appearance: textfield; /* 將樣式設置為文本框 */

  /* 隱藏 Chrome、Safari、Edge 和 Opera 的箭頭 */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none; /* 隱藏增減按鈕 */
    margin: 0; /* 消除邊距 */
  }  
}

:where(label) {
  font-weight: 600;
  & > span {
    font-weight: 600;
  }
}

:where(a) {
  text-decoration: none;
}

:where(ul, li) {
  list-style: none;
}

:where(b, strong) {
  font-size: 1.1em;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    box-shadow: inset 0 0 5px #dedede;
    border-radius: 6px;
  }
  &-thumb {
    background: #dadada80;
    transition-duration: 0.3s;
    border-radius: 10px;
  }
}

div:where(.swal2-icon) {
  box-sizing: content-box !important;
  margin: 2.5em auto .6em !important;
}
