// 系統基本顏色
$info: #909399 !default;
$primary: #409eff !default;
$success: #67C23A !default;
$warning: #E6A23C !default;
$danger: #F56C6C !default;
$white: #ffffff !default;

// 系統選單顏色
// $system-bg-color: #48648f;
$system-bg-color: #506d9c !default;
$page-content-bg-color: #ffffff !default;
// $system-bg-color: #3e6ea4;