@use 'sass:map';
@use './utils' as utils;

/* z-index */
$z-index-map: () !default;
$z-index-map: map.merge(
  (
    'select-option': 4000, // var(--i-z-index-select-option);
    'loading': 3000, // var(--i-z-index-loading);
    'swal2': 3000, // 在下方已使用
    'search-detail': 2085, // var(--i-z-index-search-close);
    'search-close': 2010, // var(--i-z-index-search-close);
    'global-disabled': 2080, // var(--i-z-index-global-disabled);
    'notification': 2050, // 在下方已使用
    'tour': 2050, // var(--i-z-index-tour);
    'drawer': 2020, // var(--i-z-index-drawer);
    'login': 2010, // var(--i-z-index-login);
    'modal': 2005, // 對應 CustomModal 的 minModalIndex
    'side': 2003, // var(--i-z-index-side);
    'v-loading': 2000, // element-ul 設定的
    'v-fixed': 99, // var(--i-z-index-v-fixed);
    'popover': 1 // var(--i-z-index-popover);
  ),
  $z-index-map
);

.el-notification {
  z-index: map.get($z-index-map, 'notification') !important;
}
.swal2-container.swal2-backdrop-show {
  z-index: map.get($z-index-map, 'swal2');
}

html {
  // @include utils.set-css-var-value(('z-index', 'loading'), 3000)
  // --i-z-index-loading: 3000;
  @each $type, $z-index in $z-index-map {
    @include utils.set-css-var-value(('z-index', $type), $z-index);
  }
}
